name: Actualizar Noticias Diarias

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar dependencias
        run: |
          pip install feedparser requests

      - name: Ejecutar script
        run: python3 scripts/generar_feeds.py

      - name: Commit y push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add docs/*.xml.txt
          git commit -m "Actualización automática" || echo "No hay cambios"
          git pull --rebase
          git push

